*{
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --cell-color: aqua;
    --background: rgb(30, 30, 60);
    --message-color: rgb(227, 250, 250);
    --border-width: 2px;
}

body{
    margin: 0;
}

.App{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.Board {
    height: 100%;
    width: 100%;
    background-color: var(--background);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
}

.Instructions{
    font-size: 2vh;
    width: 100%;
    height: 20vh;
    color: var(--message-color);
    position: absolute;
    top: 8vh;
    text-align: center;
}

.Card{
    height: 17vh;
    width: 17vh;
    cursor: pointer;
}

.Score {
    font-size: 2vh;
    width: 100%;
    height: 20vh;
    color: var(--message-color);
    position: absolute;
    bottom: 1vh;
    text-align: center;
}