*{
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --cell-color: aqua;
    --background: rgb(30, 30, 60);
    --message-color: rgb(227, 250, 250);
    --grid-dimension: min(25vh, 25vw);
    --text-size: min(2vh, 15px);
}

body{
    margin: 0;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.Board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, var(--grid-dimension));
    grid-template-rows: repeat(3, var(--grid-dimension));
}

.Instructions{
    font-size: var(--text-size);
    width: 100%;
    color: var(--message-color);
    text-align: center;
}

.Instructions > h1 {
    max-height: 100%;
}

.Card{
    height: 85%;
    width: 85%;
    cursor: pointer;
}

.Score {
    font-size: var(--text-size);
    width: 100%;
    color: var(--message-color);
    text-align: center;
}